
* {
  box-sizing: border-box;
}
body {
  font-family: 'Karla', sans-serif;
  margin: 0;
}

main {
  padding: 36px 50px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);;
  padding: 20px;
}

.header-img {
  width: 32px;
  height: auto;
  margin-right: 10px;
}

.header-title {
  font-size: 20px;
  margin-right: auto;
  font-weight: 700;
}

.header-text {
  font-size: 15px;
  font-weight: 500;
}
.div {
  display: grid;
  align-items: center;
  justify-items: left;
  /* grid-template-columns: 50% 50%; */
  column-gap: 20px;
  row-gap: 20px;
  
}
.div-input {
  font-family: 'Karla', sans-serif;
  height: 35px;
  width: 230px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;

}
.div-button{
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  font-family: 'Karla', sans-serif;
  color: white;
  height: 40px;
  width: 477px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.meme-image {
  max-width: 100%;
  border-radius: 3px;
}
.meme {
  position: relative;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}